@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using ACU.Portals.Apply.Localization
@inject IHtmlLocalizer<ApplyResource> L
@inject Volo.Abp.AspNetCore.Mvc.UI.Theming.IThemeManager ThemeManager
@attribute [Authorize]
{
        Layout = "~/Themes/Basic/Layouts/application.cshtml";
}
@model ACU.Portals.Apply.Pages.Applications.AdmissionStatusModel


<div class="card-deck">

    <abp-card style="background: #d1e3f3; margin-right: 0px; border-top-right-radius: 0px; border-bottom-right-radius:0px ">
        <abp-card-body>


            <form method="post">

                <div class="row">
                    <div class="col-8">
                        <abp-input asp-for="AdmissionStatus.UtmeOrFormNo" />
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <abp-button type="submit" button-type="Primary" name="Action" value="Login" class="btn btn-primary btn-block">@L["Login"]</abp-button>
                    </div>
                    <!-- /.col -->
                </div>

            </form>
        </abp-card-body>
    </abp-card>
    <abp-card style="background: #0a1172; margin-left: 0px; border-top-left-radius: 0px; border-bottom-left-radius:0px " class="text-white py-5 d-md-down">

        <abp-card-body class="text-justify">

        </abp-card-body>
    </abp-card>
</div>