@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Web.Pages.Account.RegisterModel
@inject IHtmlLocalizer<AccountResource> L


<div class="card-deck">

    <abp-card style="background: #d1e3f3; margin-right: 0px; border-top-right-radius: 0px; border-bottom-right-radius:0px ">
        <abp-card-body>
            <strong>
                @L["AlreadyRegistered"]
                <a href="@Url.Page("./Login", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="text-decoration-none">@L["Login"]</a>
            </strong>
            <form method="post" >
                @if (!Model.IsExternalLogin)
                {
                    <abp-input asp-for="Input.UserName" auto-focus="true" />
                }

                <abp-input asp-for="Input.EmailAddress" />

                @if (!Model.IsExternalLogin)
                {
                    <abp-input asp-for="Input.Password" />
                }

                <abp-button button-type="Primary" type="submit" class="btn-lg btn-block mt-4">@L["Register"]</abp-button>
            </form>
        </abp-card-body>
    </abp-card>
    <abp-card style="background: #0a1172; margin-left: 0px; border-top-left-radius: 0px; border-bottom-left-radius:0px " class="text-white py-5 d-md-down">

        <abp-card-body class="text-justify">
           
        </abp-card-body>
    </abp-card>
</div>