@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using ACU.Portals.Apply.Localization
@inject IHtmlLocalizer<ApplyResource> L
@inject Volo.Abp.AspNetCore.Mvc.UI.Theming.IThemeManager ThemeManager
@attribute [Authorize]
@{
    Layout = "~/Themes/Basic/Layouts/application.cshtml";
}
@model ACU.Portals.Apply.Pages.Applications.Step1Model

<div class="container">


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Personal Details</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <abp-input asp-for="Step1.Surname" />
                        </div>
                        <div class="form-group">
                            <abp-input asp-for="Step1.DateOfBirth" />
                        </div>
                        <div class="form-group">
                            <abp-input asp-for="Step1.StateOrigin" />
                           
                        </div>
                        <div class="form-group">
                            <abp-select asp-for="Step1.MaritalStatus" />
                        </div>

                    </div>
                    <!--second column-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <abp-input asp-for="Step1.Firstname" />
                        </div>
                        <div class="form-group">
                            <abp-select asp-for="Step1.Gender" />
                        </div>
                        <div class="form-group">
                            <abp-input asp-for="Step1.LGA" />
                           
                        </div>

                        <div class="form-group">
                            <abp-select asp-for="Step1.PhysicalDisability" />
                        </div>
                    </div>
                    <!--end second column-->
                    <!-- third column-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <abp-input asp-for="Step1.Othernames" />
                        </div>
                        <div class="form-group">
                            <abp-select asp-for="Step1.Country" asp-items="@Model.Step1.Countries" onchange="fetchStates()" />
                        </div>
                      
                        <div class="form-group">
                            <abp-input asp-for="Step1.Religion" />

                        </div>
                        <div class="form-group">
                            <abp-input asp-for="Step1.DisabilityNature" />

                        </div>
                    </div>
                    <!-- end third column-->
                    <!-- fourth column-->
                    <div class="col-md-4">
                        <div class="form-group">

                            <abp-input asp-for="Step1.Nationality" />

                        </div>

                    </div>
                    <!-- end fourth column-->
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" value="submit" class="btn btn-primary">Save</button>
                <button type="submit" value="next" class="btn btn-primary">Next</button>
                <button type="submit" value="previous" class="btn btn-primary">Previous</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        console.log('states');
        function fetchStates() {
            console.log('states');
            var country = document.getElementById("Country").value;
            var url = "/Applications/GetStates?country=" + country;

            fetch(url)
                .then(response => response.json())
                .then(states => {
                    var stateSelect = document.getElementById("State");
                    stateSelect.options.length = 0;
                    states.forEach(state => {
                        var option = document.createElement("option");
                        option.value = state.value;
                        option.text = state.text;
                        stateSelect.add(option);
                    });
                });
        }</script>
}
